.App {
  text-align: center;
}

h1 {
  font-family: 'Bigelow Rules';
  font-size: 72px;
  color: #0ccac4;
  text-align: center;
}

.input {
  border: 2px solid skyblue;
  outline: none;
  padding: 10px;
  width: 100%;
  line-height: 30px;
  margin-bottom: 30px;
  border-radius: 20px;
}
