* {
  box-sizing: border-box;
}
main {
  padding: 0 1rem;
  margin-bottom: 2rem;
}

/* ##### Search ##### */
header {
  background: #3498db;
  margin-bottom: 2rem;
}
input[type='text'] {
  margin: 1rem;
  background: #fff;
  font-size: 1.3rem;
  border: none;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  padding: 0 2rem;
  width: calc(100% - 2rem);
  height: 4rem;
  transition: box-shadow 0.1s;
}
input[type='text']:focus {
  outline: none;
  box-shadow: inset 0 0 1px 3px rgb(154, 196, 222);
}

input[type='password'] {
  margin: 1rem;
  background: #fff;
  font-size: 1.3rem;
  border: none;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  padding: 0 2rem;
  width: calc(100% - 2rem);
  height: 4rem;
  transition: box-shadow 0.1s;
}
input[type='password']:focus {
  outline: none;
  box-shadow: inset 0 0 1px 3px rgb(154, 196, 222);
}

/* ##### NamesList ##### */
ul {
  padding: 0;
}
li {
  position: relative;
  list-style: none;
  display: inline-block;
  margin: 2px;
  border-radius: 3px;
}
li:hover {
  cursor: pointer;
}
li.girl {
  background: #ffc6e5;
  color: #940050;
}
li.girl:hover {
  background: #ffadd9;
}
li.boy {
  background: #a0cfee;
  color: #16527a;
}
li.boy:hover {
  background: #8bc4ea;
}
li > button {
  border: none;
  background: transparent;
  display: block;
  padding: 0.25rem 0.75rem;
  color: inherit;
}
li > button:focus,
li > button:active {
  outline: none;
}

/* ##### Shortlist ##### */
.short-list li:hover:before {
  content: '\00D7';
  position: absolute;
  top: -0.5rem;
  right: -0.3rem;
  width: 1rem;
  height: 1rem;
  z-index: 2;
  text-align: center;
  line-height: 1;
  font-size: 0.9rem;
  vertical-align: middle;
  border-radius: 50%;
  background: #ff6347;
  border: solid 2px #fff;
  color: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
.short-list h2 {
  padding: 0;
  font-weight: 400;
  font-size: 1.3rem;
  margin: 0;
  color: #b3b3b3;
}
.short-list hr {
  border-bottom: 0;
  border-top: solid 1px #e6e6e6;
  margin: 1rem 0;
}

/* ##### Reset button ##### */
button.reset-search {
  color: #3f6073;
  background: #e9f2f8;
  padding: 0.3rem 0.8rem;
  font-size: 0.8rem;
  border: none;
  border-radius: 99999px;
  outline: none;
  margin-top: 0.5rem;
  letter-spacing: 1px;
}
button.reset-search:hover {
  background: #dae8f1;
}

/* ##### Footer ##### */
.credit {
  padding: 0 1rem 2rem;
  color: #b3b3b3;
}
.credit a {
  color: #3498db;
}

/* ##### Media queries ##### */
@media screen and (min-width: 640px) {
  main {
    padding: 0 2rem;
  }
  .credit {
    padding: 0 2rem 2rem;
  }
  .short-list h2 {
    padding: 1rem 0;
  }
  .short-list hr {
    margin: 1.75rem 0;
  }
}

html {
  font-size: 10px;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(244, 244, 244);
  color: #333;
}
p {
  font-size: 1.6rem;
}

small {
  font-size: 1.2rem;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 40px;
}

.title {
  font-size: 4.4rem;
  text-align: center;
}

.form {
  display: grid;
}

.label {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
  text-transform: uppercase;
}

.input {
  font-size: 1.6rem;
  padding: 0.5rem 2rem;
  line-height: 2.8rem;
  border-radius: 20px;
  border: 1px solid #ddd;
  margin-bottom: 1rem;
  width: fit-content;
}

.button {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 1rem 2rem;
  border: 1px solid rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  font-size: 1.4rem;
  cursor: pointer;
  transition: background-color 250ms;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.85);
}
