* {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  --headerFontSize: 2rem;
  --headerPadding: 0.5rem;
  --footerFontSize: 1rem;
  --footerPadding: 1rem;
  --mainHeight: calc(
    100vh - var(--headerFontSize) - (2 * var(--headerPadding)) -
      var(--footerFontSize) - (2 * var(--footerPadding))
  );
}

html {
  line-height: 1;
  font-size: 62.5%;
}

body {
  padding: 0;
}

.header {
  background-color: lightgreen;
  font-size: var(--headerFontSize);
  padding: var(--headerPadding);
  text-align: center;
}

.main {
  background-color: lightblue;
  font-size: 1.5rem;
  text-align: center;
  height: var(--mainHeight);
  overflow-y: auto;
}

.footer {
  background-color: lightgreen;
  font-size: var(--footerFontSize);
  padding: var(--footerPadding);
  text-align: center;
}

.day {
  height: calc(var(--mainHeight) / 3);
}

.day:nth-of-type(even) {
  background-color: lightyellow;
}

.tasks {
  display: block;
  margin-top: 10px;
}

.countBar {
  font-size: 1.5rem;
  background-color: cadetblue;
  padding: 7px;
  text-align: center;
}
